/*********************************************
  Estilos generales
*********************************************/

* { box-sizing: border-box; }

body {
  margin: 15px 0 0;
  background-image: url("../images/bg-body.png");
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

/* Barras de navegación */
header .main-nav ul li a,
footer .main-footer ul li a {
  display: block;
  height: 30px;
  margin-bottom: 1px;
  background-color: #333;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

nav ul li a:hover {
  background-color: black;
}
/*********************************************
  Header
*********************************************/

/* El logo es una imagen, por eso tengo que pasarlo a bloque */
header .logo {
  display: block;
  margin: 0 auto 30px;
  border-radius: 50%;
  border: 1px solid lightgray;
}

/* Menú */

/* a es un elemento inline, si queremos darle tamaño debemos
  pasarlo a block o inline-block */

header .toggle-nav {
  display: block;
  margin: 0 auto;
  height: 45px;
  width: 45px;
  background-color: #333;
}

header .toggle-nav span {
  display: block;
  text-align: center;
  line-height: 45px;
}

/*********************************************
  Productos
*********************************************/

/* Hero - En mobile no lo mostramos */
section.banner {
  display: none;
  margin-bottom: 30px;
}

section.banner img { width: 100%; }


.product .photo-container { position: relative;}

.product .photo-container .photo { width: 100% }
.product .photo-container .special {
  position: absolute;
  top: 0;
  right: 12px;
}
.product .photo-container .zoom {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 30px;
  margin-top: -15px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}


/*********************************************
  Estilos para tablet y escritorio
*********************************************/

@media screen and (min-width: 600px) {
  /* Menu del header */
  header .toggle-nav { display: none; }

  header .main-nav ul { overflow: hidden; }
  header .main-nav ul li {
    float: left;
    width: 15%;
    margin-right: 2%;
  }
  header .main-nav ul li:last-child { margin-right: 0%; }

  /* Mostramos el banner para tablet o escritorio */
  section.banner { display: block; }

  /* Vamos a necesitar flotar los productos y ajustar su ancho */
  .vip-products { overflow: hidden; }

  .product {
    float: left;
    width: 49%;
    margin-right: 2%;
  }

  /* Quitamos el margen para el último de la fila */
  .product:nth-child(even) { margin-right: 0%; }
}

@media screen and (min-width: 900px) {
  /* Para escritorio, solo va a hacer falta pisar los estilos anteriores
    con los que correspondan.
    Recuerden que la última línea es la que el navegador va a tomar en cuenta. */
  .product {
    width: 32%;
  }

  /* Quitamos el margen para el último de la fila */
  .product:nth-child(even) { margin-right: 2%; }
  .product:nth-child(3n) { margin-right: 0; }

  /* Menu del footer */
  footer .main-footer {
    background: red;
    padding: 3em;
    border-radius: 24px 24px 0 0;
  }

  footer .main-footer ul { text-align: center; }
  footer .main-footer ul li { display: inline-block; }
  footer .main-footer ul li a {
    display: inline-block;
    background-color: transparent;
    text-transform: capitalize;
  }
  footer .main-footer ul li:not(:last-child)::after {
    content: " |";
    color: white;
  }

}
