<?php
  $dbHost = 'localhost';
  $dbName = 'database_name';
  $dbUser = 'database_user';
  $dbPass = 'database_pass';

  try {
      $pdo = new PDO("mysql:host={$dbHost};dbname={$dbName}", $dbUser, $dbPass);
  } catch (PDOException $e) {
      echo "¡Error!: " . $e->getMessage() . "<br/>";
      die();
  }
?>
