/* Estilos generales */
* { box-sizing: border-box; }

body {
  background-color: #333;
  font-family: sans-serif;
}

h1.pixels {
  font-size: 48px;
  line-height: 96px;
}

section.ems {
  font-size: 32px;
}

h1.ems {
  font-size: 2em;
  line-height: 4em;
}

section.rems {
  font-size: 32px;
}

h1.rems {
  font-size: 2rem;
  line-height: 4rem;
}

body {
  font-size: 32px;
}
h1 { font-size: 25vw }
h2 { font-size: 1.75em }
h3 { font-size: 1.5em }
h4 { font-size: 1.25em }
h5 { font-size: 1em }
h6 { font-size: .75em }

section {
  position: relative;
  margin-bottom: 24px;
  margin: 0 0 24px 0;
  background-color: orange;
}

section span {
  position: absolute;
  top: 12px;
  right: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

section div {
  width: 250px;
  height: 250px;
  background-color: tomato;
}

/* Ejemplo de pixeles */

section.pixels {
  width: 800px;
}

/* Ejemplo de porcentages */

section.percentage {
  width: 60%;
}

section.percentage div {
  width: 50%;
}

/* Ejemplo de porcentages */

section.view-width {
  width: 80vw;
}

section.view-width div {
  width: 50vw;
}
