/* ==========================================================================
   Estilos generales a todo el sitio
   ========================================================================== */

* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #555;
}

/* Esto no era parte de la ejercitación, pero para darle un toque más. */
html { background-image: url("../img/background.gif"); }

body {
  width: 960px;
  background-color: white;

  /*
  Usando las propiedades individuales
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  Usando la propiedad abreviada
  margin: 0 auto 0 auto;
  margin: 0 auto 0;
  */
  margin: 24px auto;

  border: 1px gray solid;
}

/* Estilamos los enlaces */
a {
  font-weight: bold;
  text-decoration: none;
}

/* Esto no era parte de la ejercitación, pero para darle un toque más. */
a:hover { color: coral; }

/* Estilamos todos los navs,
   los vamos a querer sin los bullets y sin el padding con el que vienen */
nav ul {
  padding: 0;
  list-style: none;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
  border-bottom: 1px gray solid;
  padding: 0 12px 24px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {

  padding: 20px;
  background: gray;
}

footer .footer-logo { height: 96px; }
footer nav {
  float: right;
  color: white;
}
footer nav li:first-child { margin-bottom: 24px; }
footer nav li a { color: white; }

/* ==========================================================================
   Home
   ========================================================================== */

/* main va a contener elementos flotados, por eso lleva overflow: hidden
   Esta propiedad nos permite corregir el alto del contenedor */
main { overflow: hidden; }

main nav {
  float: left;
  width: 300px;
  padding: 15px;
}

.section-container {
  float:right;
  width: 610px;
  padding: 15px;
  border-left: 1px gray solid;
}

.section-container section {
  padding: 15px 0;
  border-bottom: 1px gray solid;
}

.section-container section .section-img {
  float: right;
  padding: 3px;
  margin-left: 12px;
  border: 1px gray solid;
}

.section-container section article { margin-left: 24px; }
